@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 167 71% 63%;
    --popover: 194 25% 17%;
    --background: 226 19% 13%;
    --foreground: 209 74% 94%;
    --destructive: 329 53% 61%;
  }
}

@layer base {
  * {
    @apply border-primary;
  }
  body {
    @apply bg-background text-primary;
  }
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-primary;
}

::selection {
  @apply bg-primary;
  @apply text-background;
}
